*{
    box-sizing: border-box;
}

body {
    display: grid;
    justify-content: center;
}

.wrapper {
    width: 40vw;
    height: 100%;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(6, 1fr);
}

.wrapper > img {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

h2 {
    transition: all 400ms ease-in;
    text-align: center;
}

button {
    width: 100px;
    height: 30px;
    justify-self: center;
}